@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*{
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: 'Jura',sans-serif;
  background-color: #F7F7F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
